In [43]:
import pandas as pd

In [44]:
scope1 = pd.read_csv("C:\\Users\\dongr\\Downloads\\power-forecasting\\data\\scope1.csv")
scope2 = pd.read_csv("C:\\Users\\dongr\\Downloads\\power-forecasting\\data\\scope2.csv")
scope3 = pd.read_csv("C:\\Users\\dongr\\Downloads\\power-forecasting\\data\\scope3.csv")

In [45]:
print(scope1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Section                          123 non-null    object
 1   Material                         123 non-null    object
 2   Unit of Material                 123 non-null    object
 3   Year/Timeline                    123 non-null    object
 4   Q1 Quantity                      123 non-null    float64
 5   Emission Factor                  123 non-null    float64
 6   Unit of Emission Factor          123 non-null    object
 7   GHG Emission (tCO2)              123 non-null    float64
 8   Carbon Content (%)               123 non-null    float64
 9   Combustion Efficiency (%)        123 non-null    float64
 10  Data Source for Emission Factor  123 non-null    object
 11  Location (Plant)                 123 non-null    object
dtypes: float64(5), object(7)
memory usage: 11.7+ KB
None

In [46]:
print(scope2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Section/Process              18 non-null     object
 1   Energy Type                  18 non-null     object
 2   Supplier/Source              18 non-null     object
 3   Unit                         18 non-null     object
 4   Energy Consumed              18 non-null     int64
 5   Emission Factor (tCO₂/unit)  18 non-null     float64
 6   Scope 2 Emissions (tCO₂)     18 non-null     float64
 7   Renewable Share (%)          18 non-null     object
 8   Data Frequency               18 non-null     object
 9   Notes                        15 non-null     object
 10  Time-of-Use (ToU) Category   18 non-null     object
 11  Grid Emission Factor Source  18 non-null     object
 12  Load Factor (%)              18 non-null     float64
 13  Power Factor                 18 non-null     float64
 14  Location (Plant)             18 non-null     object
 15  Uncertainty (%)              18 non-null     float64
 16  GHG Intensity (tCO2/MWh)     18 non-null     int64
 17  year/timeline                18 non-null     object
dtypes: float64(5), int64(2), object(11)
memory usage: 2.7+ KB
None

In [47]:
print(scope3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Month                        120 non-null    object
 1   Scope 3 Category             120 non-null    object
 2   Activity Description         120 non-null    object
 3   Unit of Activity             120 non-null    object
 4   Quantity                     120 non-null    float64
 5   Emission Factor (tCO2/unit)  120 non-null    float64
 6   Scope 3 Emissions (tCO2)     120 non-null    float64
 7   Scope Type                   120 non-null    object
 8   Transportation Mode          14 non-null     object
 9   Vendor Involved              37 non-null     object
 10  Lifecycle Stage              120 non-null    object
 11  Emission Factor Source       120 non-null    object
 12  Measurement Method           120 non-null    object
 13  Uncertainty (%)              120 non-null    float64
 14  year/timeline                120 non-null    object
dtypes: float64(4), object(11)
memory usage: 14.2+ KB
None

we can clearly observe that in scope1 there is no null values as off. In scope 2 there are 18 rows and in column name Notes have 3 null values.
and scope3 execl file we have 120 rows out of 189 null values in column  Transportation Mode(106) and Vendor Involved(83). means we have handle null values also.

In [48]:
scope1.columns = scope1.columns.str.strip().str.lower().str.replace(" ", "_")
scope2.columns = scope2.columns.str.strip().str.lower().str.replace(" ", "_")
scope3.columns = scope3.columns.str.strip().str.lower().str.replace(" ", "_")

above step has been done for removing space by unerscore (_)  because programming languages and data analysis libraries often use underscores as separators or to avoid conflicts with reserved keywords or invalid characters in variable or column names

In [49]:
print(scope1.columns)
print("------------------------------------------------------------")
print(scope2.columns)
print("------------------------------------------------------------")
print(scope3.columns)
print("------------------------------------------------------------")

Index(['section', 'material', 'unit_of_material', 'year/timeline',
       'q1_quantity', 'emission_factor', 'unit_of_emission_factor',
       'ghg_emission_(tco2)', 'carbon_content_(%)',
       'combustion_efficiency_(%)', 'data_source_for_emission_factor',
       'location_(plant)'],
      dtype='object')
------------------------------------------------------------
Index(['section/process', 'energy_type', 'supplier/source', 'unit',
       'energy_consumed', 'emission_factor_(tco₂/unit)',
       'scope_2_emissions_(tco₂)', 'renewable_share_(%)', 'data_frequency',
       'notes', 'time-of-use_(tou)_category', 'grid_emission_factor_source',
       'load_factor_(%)', 'power_factor', 'location_(plant)',
       'uncertainty_(%)', 'ghg_intensity_(tco2/mwh)', 'year/timeline'],
      dtype='object')
------------------------------------------------------------
Index(['month', 'scope_3_category', 'activity_description', 'unit_of_activity',
       'quantity', 'emission_factor_(tco2/unit)', 'scope_3_emissions_(tco2)',
       'scope_type', 'transportation_mode', 'vendor_involved',
       'lifecycle_stage', 'emission_factor_source', 'measurement_method',
       'uncertainty_(%)', 'year/timeline'],
      dtype='object')
------------------------------------------------------------

In [50]:
factors = scope1[['section', 'material', 'unit_of_material', 'year/timeline',
       'q1_quantity', 'emission_factor', 'unit_of_emission_factor',
       'ghg_emission_(tco2)', 'carbon_content_(%)',
       'combustion_efficiency_(%)', 'data_source_for_emission_factor',
       'location_(plant)']].drop_duplicates()

In [51]:
print(scope1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   section                          123 non-null    object
 1   material                         123 non-null    object
 2   unit_of_material                 123 non-null    object
 3   year/timeline                    123 non-null    object
 4   q1_quantity                      123 non-null    float64
 5   emission_factor                  123 non-null    float64
 6   unit_of_emission_factor          123 non-null    object
 7   ghg_emission_(tco2)              123 non-null    float64
 8   carbon_content_(%)               123 non-null    float64
 9   combustion_efficiency_(%)        123 non-null    float64
 10  data_source_for_emission_factor  123 non-null    object
 11  location_(plant)                 123 non-null    object
dtypes: float64(5), object(7)
memory usage: 11.7+ KB
None

In [52]:
factorss = scope2[['section/process', 'energy_type', 'supplier/source', 'unit',
       'energy_consumed', 'emission_factor_(tco₂/unit)',
       'scope_2_emissions_(tco₂)', 'renewable_share_(%)', 'data_frequency',
       'notes', 'time-of-use_(tou)_category', 'grid_emission_factor_source',
       'load_factor_(%)', 'power_factor', 'location_(plant)',
       'uncertainty_(%)', 'ghg_intensity_(tco2/mwh)', 'year/timeline']].drop_duplicates()

In [53]:
print(scope2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   section/process              18 non-null     object
 1   energy_type                  18 non-null     object
 2   supplier/source              18 non-null     object
 3   unit                         18 non-null     object
 4   energy_consumed              18 non-null     int64
 5   emission_factor_(tco₂/unit)  18 non-null     float64
 6   scope_2_emissions_(tco₂)     18 non-null     float64
 7   renewable_share_(%)          18 non-null     object
 8   data_frequency               18 non-null     object
 9   notes                        15 non-null     object
 10  time-of-use_(tou)_category   18 non-null     object
 11  grid_emission_factor_source  18 non-null     object
 12  load_factor_(%)              18 non-null     float64
 13  power_factor                 18 non-null     float64
 14  location_(plant)             18 non-null     object
 15  uncertainty_(%)              18 non-null     float64
 16  ghg_intensity_(tco2/mwh)     18 non-null     int64
 17  year/timeline                18 non-null     object
dtypes: float64(5), int64(2), object(11)
memory usage: 2.7+ KB
None

In [54]:
factorsss = scope3[['month', 'scope_3_category', 'activity_description', 'unit_of_activity',
       'quantity', 'emission_factor_(tco2/unit)', 'scope_3_emissions_(tco2)',
       'scope_type', 'transportation_mode', 'vendor_involved',
       'lifecycle_stage', 'emission_factor_source', 'measurement_method',
       'uncertainty_(%)', 'year/timeline']].drop_duplicates()

In [55]:
print(scope3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   month                        120 non-null    object
 1   scope_3_category             120 non-null    object
 2   activity_description         120 non-null    object
 3   unit_of_activity             120 non-null    object
 4   quantity                     120 non-null    float64
 5   emission_factor_(tco2/unit)  120 non-null    float64
 6   scope_3_emissions_(tco2)     120 non-null    float64
 7   scope_type                   120 non-null    object
 8   transportation_mode          14 non-null     object
 9   vendor_involved              37 non-null     object
 10  lifecycle_stage              120 non-null    object
 11  emission_factor_source       120 non-null    object
 12  measurement_method           120 non-null    object
 13  uncertainty_(%)              120 non-null    float64
 14  year/timeline                120 non-null    object
dtypes: float64(4), object(11)
memory usage: 14.2+ KB
None

by comparing previous information of scope1, scope2, scope3 and information after removing duplicates indicates that there no duplicates values present in scope1, scope2, scope3.

In [56]:
scope2['notes'] = scope2['notes'].fillna(method='ffill')
print(scope2.isnull().sum())

section/process                0
energy_type                    0
supplier/source                0
unit                           0
energy_consumed                0
emission_factor_(tco₂/unit)    0
scope_2_emissions_(tco₂)       0
renewable_share_(%)            0
data_frequency                 0
notes                          0
time-of-use_(tou)_category     0
grid_emission_factor_source    0
load_factor_(%)                0
power_factor                   0
location_(plant)               0
uncertainty_(%)                0
ghg_intensity_(tco2/mwh)       0
year/timeline                  0
dtype: int64

C:\Users\dongr\AppData\Local\Temp\ipykernel_30484\2809329085.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  scope2['notes'] = scope2['notes'].fillna(method='ffill')

by observing the pattern i had decided to fill null values using ffill which put the above value of row in null space

In [57]:
def fill_transport_mode(row):
    if pd.notna(row['transportation_mode']) and row['transportation_mode'].strip() != '':
        return row['transportation_mode']
    
    # Map known vendors to transport mode
    vendor_transport_map = {
        'WasteServ India': 'Road',
        'DRI Corp Pvt Ltd': 'Mixed',
        # Add more mappings as needed
    }
    
    if row['vendor_involved'] in vendor_transport_map:
        return vendor_transport_map[row['vendor_involved']]
    
    if 'Air Travel' in str(row['activity_description']):
        return 'Air'
    
    if row['scope_3_category'] in ['Upstream Transportation and Distribution', 'Downstream Transportation and Distribution']:
        return 'Mixed'
    
    if row['scope_3_category'] == 'Business Travel':
        return 'Air'
    
    return 'Unknown'

# Apply to the dataframe
scope3['transportation_mode'] = scope3.apply(fill_transport_mode, axis=1)
scope3['vendor_involved'] = scope3['vendor_involved'].fillna('Unknown')  # Fill NaN with 'Unknown'
scope3['vendor_involved'] = scope3['vendor_involved'].replace(r'^\s*$', 'Unknown', regex=True)  # Replace empty strings with 'Unknown'

In [58]:
print(scope1['unit_of_material'].unique())
print("_______________________________________")
print(scope1['unit_of_emission_factor'].unique())

['tonnes' 'kNm3' 'KL' 'Nm3']
_______________________________________
['tCO2/t' 'tCO2/KL' 'tCO2/Nm3']

In [59]:
print(scope2['unit'].unique())
print("_______________________________________")

['kWh' 'GJ']
_______________________________________

In [60]:
def convert_quantity(row):
    unit_material = str(row['unit_of_material']).strip().lower()
    unit_emission = str(row['unit_of_emission_factor']).strip().lower()
    quantity = row['q1_quantity']
    material = row['material']

    # Convert KL (or similar) to tonnes if emission factor per tonne
    if 'tco2/t' in unit_emission and unit_material in ['kl', 'kilo litre', 'kiloliter']:
        if material in density_lookup:
            density = density_lookup[material]
            return quantity * density  # Convert KL to tonnes
        else:
            return float('nan')  # Unknown density
    
    # Convert tonnes to KL if emission factor per KL
    elif 'tco2/kl' in unit_emission and unit_material == 'tonnes':
        if material in density_lookup:
            density = density_lookup[material]
            return quantity / density  # Convert tonnes to KL
        else:
            return float('nan')

    # If units are consistent or conversion not needed
    else:
        return quantity

In [61]:
year = 2006

# Map quarters to starting dates of that quarter
quarter_to_date = {
    'Q1': f'{year}-01-01',
    'Q2': f'{year}-04-01',
    'Q3': f'{year}-07-01',
    'Q4': f'{year}-10-01'
}

In [62]:
#Convert to datetime
scope1['year/timeline'] = scope1['year/timeline'].map(quarter_to_date)
scope1['year/timeline'] = pd.to_datetime(scope1['year/timeline'])

print(scope1)

          section                 material unit_of_material year/timeline  \
0    Pellet Plant          Anthracite Coal           tonnes    2006-01-01
1    Pellet Plant               Iron Scrap           tonnes    2006-01-01
2    Pellet Plant           Petroleum Coke           tonnes    2006-01-01
3    Pellet Plant          Bituminous Coal           tonnes    2006-01-01
4    Pellet Plant  Calcined Petroleum Coke           tonnes    2006-01-01
..            ...                      ...              ...           ...
118   Power Plant             Carbon Paste           tonnes    2006-04-01
119   Power Plant              Waste Tyres           tonnes    2006-04-01
120   Power Plant                Used Oils               KL    2006-04-01
121   Power Plant           Coolant Fluids               KL    2006-04-01
122   Power Plant              Sludge Cake           tonnes    2006-04-01

     q1_quantity  emission_factor unit_of_emission_factor  \
0      136843.66            1.044                  tCO2/t
1      399043.61            2.849                 tCO2/KL
2       92899.41            1.390                 tCO2/KL
3      476400.55            3.084                 tCO2/KL
4      343775.39            2.036                  tCO2/t
..           ...              ...                     ...
118    399621.37            2.556                  tCO2/t
119    315260.92            0.604                tCO2/Nm3
120      8744.14            1.826                  tCO2/t
121      4937.27            0.194                  tCO2/t
122    624486.88            0.703                  tCO2/t

     ghg_emission_(tco2)  carbon_content_(%)  combustion_efficiency_(%)  \
0           1.428648e+05               88.13                      89.56
1           1.136875e+06               91.64                      90.20
2           1.291302e+05               75.73                      87.63
3           1.469219e+06               81.49                      93.63
4           6.999267e+05               76.71                      92.55
..                   ...                 ...                        ...
118         1.021432e+06               87.78                      94.86
119         1.904176e+05               87.26                      94.05
120         1.596680e+04               76.96                      87.17
121         9.578304e+02               86.44                      91.18
122         4.390143e+05               91.50                      91.17

    data_source_for_emission_factor     location_(plant)
0              IPCC 2006 Guidelines  Central Steel Plant
1              IPCC 2006 Guidelines  Central Steel Plant
2              IPCC 2006 Guidelines  Central Steel Plant
3              IPCC 2006 Guidelines  Central Steel Plant
4              IPCC 2006 Guidelines  Central Steel Plant
..                              ...                  ...
118            IPCC 2006 Guidelines  Central Steel Plant
119            IPCC 2006 Guidelines  Central Steel Plant
120            IPCC 2006 Guidelines  Central Steel Plant
121            IPCC 2006 Guidelines  Central Steel Plant
122            IPCC 2006 Guidelines  Central Steel Plant

[123 rows x 12 columns]

In [63]:
year = 2023

# Map quarters to starting dates of that quarter
quarter_to_date = {
    'Q1': f'{year}-01-01',
    'Q2': f'{year}-04-01',
    'Q3': f'{year}-07-01',
    'Q4': f'{year}-10-01'
}
scope2['year/timeline'] = scope2['year/timeline'].map(quarter_to_date)
scope2['year/timeline'] = pd.to_datetime(scope2['year/timeline'])

print(scope2)

         section/process              energy_type       supplier/source unit  \
0                    EAF    Purchased Electricity  Grid - State Utility  kWh
1           Rolling Mill    Purchased Electricity    Grid - Open Access  kWh
2           Pellet Plant    Purchased Electricity  Captive Solar + Grid  kWh
3   Utilities (WDU, etc)           Imported Steam  Nearby Process Plant   GJ
4        Admin Buildings    Purchased Electricity          Local Discom  kWh
5            Power Plant  Electricity Consumption                 Solar  kWh
6                    EAF    Purchased Electricity  Grid - State Utility  kWh
7           Rolling Mill    Purchased Electricity    Grid - Open Access  kWh
8           Pellet Plant    Purchased Electricity  Captive Solar + Grid  kWh
9   Utilities (WDU, etc)           Imported Steam  Nearby Process Plant   GJ
10       Admin Buildings    Purchased Electricity          Local Discom  kWh
11           Power Plant  Electricity Consumption                 Solar  kWh
12                   EAF    Purchased Electricity  Grid - State Utility  kWh
13          Rolling Mill    Purchased Electricity    Grid - Open Access  kWh
14          Pellet Plant    Purchased Electricity  Captive Solar + Grid  kWh
15  Utilities (WDU, etc)           Imported Steam  Nearby Process Plant   GJ
16       Admin Buildings    Purchased Electricity          Local Discom  kWh
17           Power Plant  Electricity Consumption                 Solar  kWh

    energy_consumed  emission_factor_(tco₂/unit)  scope_2_emissions_(tco₂)  \
0             60000                         0.80                   48000.0
1             25000                         0.80                   20000.0
2             10000                         0.60                    6000.0
3             15000                         0.20                    3000.0
4              5000                         0.85                    4250.0
5           8199450                         0.71                 5821609.5
6             62000                         0.80                   49600.0
7             26000                         0.80                   20800.0
8             11000                         0.60                    6600.0
9             14500                         0.20                    2900.0
10             5200                         0.85                    4420.0
11          8300000                         0.71                 5893000.0
12            58000                         0.80                   46400.0
13            24000                         0.80                   19200.0
14             9500                         0.60                    5700.0
15            15500                         0.20                    3100.0
16             4800                         0.85                    4080.0
17          8100000                         0.71                 5751000.0

   renewable_share_(%) data_frequency                        notes  \
0                  20%      Quarterly      Heavy use of grid power
1                  30%      Quarterly              High-speed mill
2                  40%      Quarterly  Blended grid + solar source
3                   0%      Quarterly         Sourced via pipeline
4                   5%      Quarterly              HVAC + lighting
5                   5%      Quarterly              HVAC + lighting
6                  22%      Quarterly      Heavy use of grid power
7                  32%      Quarterly              High-speed mill
8                  45%      Quarterly  Blended grid + solar source
9                   0%      Quarterly         Sourced via pipeline
10                  6%      Quarterly              HVAC + lighting
11                  6%      Quarterly              HVAC + lighting
12                 18%      Quarterly      Heavy use of grid power
13                 28%      Quarterly              High-speed mill
14                 38%      Quarterly  Blended grid + solar source
15                  0%      Quarterly         Sourced via pipeline
16                  4%      Quarterly              HVAC + lighting
17                  4%      Quarterly              HVAC + lighting

   time-of-use_(tou)_category grid_emission_factor_source  load_factor_(%)  \
0                       Mixed       CEA India 2023 Report             82.7
1                    Off-Peak       CEA India 2023 Report             90.9
2                       Mixed       CEA India 2023 Report             65.4
3                        Peak       CEA India 2023 Report             65.5
4                        Peak       CEA India 2023 Report             73.2
5                       Mixed       CEA India 2023 Report             62.7
6                       Mixed       CEA India 2023 Report             83.0
7                    Off-Peak       CEA India 2023 Report             91.2
8                       Mixed       CEA India 2023 Report             66.0
9                        Peak       CEA India 2023 Report             65.0
10                       Peak       CEA India 2023 Report             73.5
11                      Mixed       CEA India 2023 Report             63.0
12                      Mixed       CEA India 2023 Report             82.5
13                   Off-Peak       CEA India 2023 Report             90.5
14                      Mixed       CEA India 2023 Report             65.0
15                       Peak       CEA India 2023 Report             66.0
16                       Peak       CEA India 2023 Report             73.0
17                      Mixed       CEA India 2023 Report             62.5

    power_factor     location_(plant)  uncertainty_(%)  \
0           0.87  Central Steel Plant              6.8
1           0.96  Central Steel Plant              2.9
2           0.95  Central Steel Plant              5.9
3           0.85  Central Steel Plant              7.9
4           0.98  Central Steel Plant              5.9
5           0.98  Central Steel Plant              4.9
6           0.88  Central Steel Plant              7.0
7           0.97  Central Steel Plant              3.0
8           0.96  Central Steel Plant              6.0
9           0.86  Central Steel Plant              8.0
10          0.98  Central Steel Plant              6.0
11          0.99  Central Steel Plant              5.0
12          0.86  Central Steel Plant              6.7
13          0.95  Central Steel Plant              2.8
14          0.94  Central Steel Plant              5.8
15          0.84  Central Steel Plant              8.1
16          0.97  Central Steel Plant              5.8
17          0.97  Central Steel Plant              4.8

    ghg_intensity_(tco2/mwh) year/timeline
0                        800    2023-01-01
1                        800    2023-01-01
2                        600    2023-01-01
3                        200    2023-01-01
4                        850    2023-01-01
5                        710    2023-01-01
6                        800    2023-04-01
7                        800    2023-04-01
8                        600    2023-04-01
9                        200    2023-04-01
10                       850    2023-04-01
11                       710    2023-04-01
12                       800    2023-07-01
13                       800    2023-07-01
14                       600    2023-07-01
15                       200    2023-07-01
16                       850    2023-07-01
17                       710    2023-07-01

In [64]:
year = 2024

# Map quarters to starting dates of that quarter
quarter_to_date = {
    'Q1': f'{year}-01-01',
    'Q2': f'{year}-04-01',
    'Q3': f'{year}-07-01',
    'Q4': f'{year}-10-01'
}
scope3['year/timeline'] = scope3['year/timeline'].map(quarter_to_date)
scope3['year/timeline'] = pd.to_datetime(scope3['year/timeline'])

print(scope3)

       month                            scope_3_category  \
0    2024-01               Waste Generated in Operations
1    2024-01                             Business Travel
2    2024-01                Purchased Goods and Services
3    2024-01                          Employee Commuting
4    2024-01    Upstream Transportation and Distribution
..       ...                                         ...
115  2024-12                Purchased Goods and Services
116  2024-12  Downstream Transportation and Distribution
117  2024-12                      Downstream Investments
118  2024-12                Purchased Goods and Services
119  2024-12                          Employee Commuting

             activity_description unit_of_activity     quantity  \
0             Steel Slag Disposal           tonnes     15733.76
1                      Air Travel               km    478426.47
2             DRI (from supplier)           tonnes    325925.91
3                  Bus/Car Travel               km   1026075.79
4               Inbound logistics         tonne-km  75528315.32
..                            ...              ...          ...
115                      Iron Ore           tonnes   1317684.78
116            Outbound logistics         tonne-km  55335941.62
117  Operated facilities (leased)             tCO2    109487.84
118                EAF Electrodes           tonnes      1809.65
119                Bus/Car Travel               km   1386858.78

     emission_factor_(tco2/unit)  scope_3_emissions_(tco2)  scope_type  \
0                           0.10               1573.376000    Upstream
1                           0.00                 86.116765  Downstream
2                           0.25              81481.477500    Upstream
3                           0.00                123.129095    Upstream
4                           0.00               3776.415766    Upstream
..                           ...                       ...         ...
115                         0.12             158122.173600    Upstream
116                         0.00               3320.156497  Downstream
117                         1.00             109487.840000  Downstream
118                         2.10               3800.265000    Upstream
119                         0.00                166.423054    Upstream

    transportation_mode   vendor_involved lifecycle_stage  \
0                  Road   WasteServ India     Consumption
1                   Air           Unknown    Raw Material
2                 Mixed  DRI Corp Pvt Ltd    Distribution
3               Unknown           Unknown     Consumption
4                   Sea           Unknown    Raw Material
..                  ...               ...             ...
115               Mixed  DRI Corp Pvt Ltd    Distribution
116                Road           Unknown      Processing
117             Unknown           Unknown     Consumption
118               Mixed  DRI Corp Pvt Ltd    Distribution
119             Unknown           Unknown      Processing

             emission_factor_source                   measurement_method  \
0    GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
1    GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
2    GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
3    GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
4    GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
..                              ...                                  ...
115  GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
116  GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
117  GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
118  GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid
119  GHG Protocol Scope 3 Eval Tool  Spend-based / Distance-based hybrid

     uncertainty_(%) year/timeline
0               10.5    2024-01-01
1               10.5    2024-01-01
2               14.1    2024-01-01
3                9.8    2024-01-01
4               14.0    2024-01-01
..               ...           ...
115             13.1    2024-10-01
116             14.6    2024-10-01
117             11.3    2024-10-01
118             13.2    2024-10-01
119             13.1    2024-10-01

[120 rows x 15 columns]

In [65]:
def validate_emissions(df, quantity_col, factor_col, emission_col, tolerance=1e-3):
    import numpy as np
    
    # Calculate expected emissions
    expected = df[quantity_col] * df[factor_col]
    
    # Compare with actual emissions with tolerance
    mismatch_mask = ~np.isclose(expected, df[emission_col], atol=tolerance)
    
    # Rows that fail the check
    incorrect_rows = df[mismatch_mask]
    
    # Print incorrect values
    print("Rows where q1_quantity * emission_factor != ghg_emission:")
    print(incorrect_rows[[quantity_col, factor_col, emission_col]])
    
    print(f"\nTotal number of wrong rows: {incorrect_rows.shape[0]}")
    
    return incorrect_rows.shape[0]

# Example usage:
# wrong_count = validate_emissions(df=scope3, quantity_col='q1_quantity', factor_col='emission_factor', emission_col='ghg_emission_(tco2)')

In [66]:
# Assuming your DataFrame is named scope3
wrong_count = validate_emissions(
    df=scope1,
    quantity_col='q1_quantity',
    factor_col='emission_factor',
    emission_col='ghg_emission_(tco2)'
)

print(f"Number of wrong rows found: {wrong_count}")

Rows where q1_quantity * emission_factor != ghg_emission:
Empty DataFrame
Columns: [q1_quantity, emission_factor, ghg_emission_(tco2)]
Index: []

Total number of wrong rows: 0
Number of wrong rows found: 0

In [67]:
wrong_count = validate_emissions(
    df=scope2,
    quantity_col='energy_consumed',
    factor_col='emission_factor_(tco₂/unit)',
    emission_col='scope_2_emissions_(tco₂)'
)
print(f"Number of wrong rows found: {wrong_count}")

Rows where q1_quantity * emission_factor != ghg_emission:
Empty DataFrame
Columns: [energy_consumed, emission_factor_(tco₂/unit), scope_2_emissions_(tco₂)]
Index: []

Total number of wrong rows: 0
Number of wrong rows found: 0

In [68]:
# ------- Scope 1 processing -------
# Columns to keep for Scope 1 (example: keep key features for GHG calc)
scope1_keep = [
    'section', 'material', 'unit_of_material', 'year/timeline',
    'q1_quantity', 'emission_factor', 'unit_of_emission_factor',
    'ghg_emission_(tco2)', 'location_(plant)','year/timeline'
]

scope1 = scope1[scope1_keep]

# Rename columns uniformly
scope1.rename(columns={
    'section': 'section',
    'material': 'material',
    'unit_of_material': 'unit',
    'year/timeline': 'date',
    'q1_quantity': 'quantity',
    'emission_factor': 'emission_factor',
    'unit_of_emission_factor': 'emission_factor_unit',
    'ghg_emission_(tco2)': 'ghg_emission',
    'location_(plant)': 'location'
}, inplace=True)

In [69]:
# ------- Scope 2 processing -------
# Columns to keep (selected relevant ones)
scope2_keep = [
    'section/process', 'energy_type', 'unit',
    'energy_consumed', 'emission_factor_(tco₂/unit)', 'scope_2_emissions_(tco₂)', 'location_(plant)','year/timeline'
]

scope2 = scope2[scope2_keep]

# Rename columns for scope2
scope2.rename(columns={
    'section/process': 'section',
    'energy_type': 'material',
    'unit': 'unit',
    'year/timeline': 'date',
    'energy_consumed': 'quantity',
    'emission_factor_(tco₂/unit)': 'emission_factor',
    'scope_2_emissions_(tco₂)': 'ghg_emission',
    'location_(plant)': 'location'
}, inplace=True)

In [70]:
# ------- Scope 3 processing -------
# Columns to keep for scope3 (important for GHG calc)
scope3_keep = [
    'scope_3_category', 'activity_description', 'unit_of_activity',
    'quantity', 'emission_factor_(tco2/unit)', 'scope_3_emissions_(tco2)','year/timeline'
]
scope3 = scope3[scope3_keep]

# Rename columns for scope3
scope3.rename(columns={
    'scope_3_category': 'section',
    'activity_description': 'material',
    'unit_of_activity': 'unit',
    'year/timeline': 'date',
    'quantity': 'quantity',
    'emission_factor_(tco2/unit)': 'emission_factor',
    'scope_3_emissions_(tco2)': 'ghg_emission',
    'location_(plant)': 'location'
}, inplace=True)

# Now all three datasets have roughly same columns:
# 'section', 'material', 'unit', 'quantity', 'emission_factor', 'ghg_emission', 'location'

In [71]:
print(scope1.head())
print("_______________________________________")
print(scope2.head())
print("_______________________________________")
print(scope3.head())

        section                 material    unit       date   quantity  \
0  Pellet Plant          Anthracite Coal  tonnes 2006-01-01  136843.66
1  Pellet Plant               Iron Scrap  tonnes 2006-01-01  399043.61
2  Pellet Plant           Petroleum Coke  tonnes 2006-01-01   92899.41
3  Pellet Plant          Bituminous Coal  tonnes 2006-01-01  476400.55
4  Pellet Plant  Calcined Petroleum Coke  tonnes 2006-01-01  343775.39

   emission_factor emission_factor_unit  ghg_emission             location  \
0            1.044               tCO2/t  1.428648e+05  Central Steel Plant
1            2.849              tCO2/KL  1.136875e+06  Central Steel Plant
2            1.390              tCO2/KL  1.291302e+05  Central Steel Plant
3            3.084              tCO2/KL  1.469219e+06  Central Steel Plant
4            2.036               tCO2/t  6.999267e+05  Central Steel Plant

        date
0 2006-01-01
1 2006-01-01
2 2006-01-01
3 2006-01-01
4 2006-01-01
_______________________________________
                section               material unit  quantity  \
0                   EAF  Purchased Electricity  kWh     60000
1          Rolling Mill  Purchased Electricity  kWh     25000
2          Pellet Plant  Purchased Electricity  kWh     10000
3  Utilities (WDU, etc)         Imported Steam   GJ     15000
4       Admin Buildings  Purchased Electricity  kWh      5000

   emission_factor  ghg_emission             location       date
0             0.80       48000.0  Central Steel Plant 2023-01-01
1             0.80       20000.0  Central Steel Plant 2023-01-01
2             0.60        6000.0  Central Steel Plant 2023-01-01
3             0.20        3000.0  Central Steel Plant 2023-01-01
4             0.85        4250.0  Central Steel Plant 2023-01-01
_______________________________________
                                    section             material      unit  \
0             Waste Generated in Operations  Steel Slag Disposal    tonnes
1                           Business Travel           Air Travel        km
2              Purchased Goods and Services  DRI (from supplier)    tonnes
3                        Employee Commuting       Bus/Car Travel        km
4  Upstream Transportation and Distribution    Inbound logistics  tonne-km

      quantity  emission_factor  ghg_emission       date
0     15733.76             0.10   1573.376000 2024-01-01
1    478426.47             0.00     86.116765 2024-01-01
2    325925.91             0.25  81481.477500 2024-01-01
3   1026075.79             0.00    123.129095 2024-01-01
4  75528315.32             0.00   3776.415766 2024-01-01

In [72]:
# After making changes to the DataFrame (e.g., scope1), save back to same CSV file
scope1.to_csv(r"C:\Users\dongr\Downloads\power-forecasting\data\scope1.csv", index=False)
scope2.to_csv(r"C:\Users\dongr\Downloads\power-forecasting\data\scope2.csv", index=False)
scope3.to_csv(r"C:\Users\dongr\Downloads\power-forecasting\data\scope3.csv", index=False)

In [74]:
print(scope1.info()) 
print('____________________________________________________________________________________________')
print(scope2.info())
print('____________________________________________________________________________________________')
print(scope3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   section               123 non-null    object
 1   material              123 non-null    object
 2   unit                  123 non-null    object
 3   date                  123 non-null    datetime64[ns]
 4   quantity              123 non-null    float64
 5   emission_factor       123 non-null    float64
 6   emission_factor_unit  123 non-null    object
 7   ghg_emission          123 non-null    float64
 8   location              123 non-null    object
 9   date                  123 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(5)
memory usage: 9.7+ KB
None
____________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   section          18 non-null     object
 1   material         18 non-null     object
 2   unit             18 non-null     object
 3   quantity         18 non-null     int64
 4   emission_factor  18 non-null     float64
 5   ghg_emission     18 non-null     float64
 6   location         18 non-null     object
 7   date             18 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 1.2+ KB
None
____________________________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   section          120 non-null    object
 1   material         120 non-null    object
 2   unit             120 non-null    object
 3   quantity         120 non-null    float64
 4   emission_factor  120 non-null    float64
 5   ghg_emission     120 non-null    float64
 6   date             120 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 6.7+ KB
None